@import '../scss/index.scss';


.containerWidget{
    display: flex;
    padding: 20px;
    gap: 20px;
}

.charts{
    display: flex;
    padding: 20px;
    gap:20px
}
.title-dashboard{
    display: flex;
    justify-content: center;
    // font-family: ;
}