@import '../scss/index.scss';


#buttonDocument{
    margin: 3px;
}

#divButtonSearch{
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonSearch{
    padding-left: 30px;
    padding-right: 30px;
}