@import '../scss/index.scss';

div{
    .title{
        width: 100%;
        height: 7
        70px;
    }
    .content{
        width: 100%;
        height: 554px;
        background-color: #CDA2EA; 
    }
    
    
}

